@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?to4qyb');
  src:  url('fonts/icomoon.eot?to4qyb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?to4qyb') format('truetype'),
    url('fonts/icomoon.woff?to4qyb') format('woff'),
    url('fonts/icomoon.svg?to4qyb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuttlecock-to-subway:before {
  content: "\e901";
}
.icon-subway:before {
  content: "\e902";
}
.icon-shuttlecock-to-terminal:before {
  content: "\e903";
}
.icon-terminal:before {
  content: "\e904";
}
.icon-bus:before {
  content: "\e900";
}
